* {
    -fx-hots-primary: #fff;
    -fx-hots-secondary: #2E7D32;
    -fx-hots-background: #444;
}

.header {
    -fx-background-color: -fx-hots-background;
}
.button {
    -fx-background-color: -fx-hots-secondary;
    -fx-background-insets:  0.0;
    -fx-background-radius: 0.0;
    -fx-border-width: 0.0;
    -fx-text-fill: -fx-hots-primary;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.combo-box-base,
.choice-box {
    -fx-background-color: -fx-hots-primary;
    -fx-background-insets:  0.0;
    -fx-background-radius: 0.0;
    -fx-border-width: 0.0;
}

.primary {
    color: -fx-hots-primary;
}
.secondary {
    color: -fx-hots-secondary;
}
.tabs {
    -fx-background-color: #8ea3b9;
}
.status {
    -fx-border-style: dashed;
    -fx-border-color: #404040;
    -fx-background-color: #484848;
}
