* {
    -fx-hots-primary: #fff;
    -fx-hots-secondary: #38d3ff;
    -fx-hots-background: #444;
}

.header {
    -fx-background-color: -fx-hots-background;
}

.button {
    -fx-background-color: -fx-hots-secondary;
    -fx-padding: 0.7em;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-border-width: 0.0;
    -fx-text-fill: -fx-hots-primary;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.combo-box-base,
.choice-box {
    -fx-background-color: -fx-hots-primary;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-border-style: none;
    -fx-border-width: 0.0;
}

.choice-box {
    -fx-padding: 0.05em 0 0 0;
}

.combo-box-base > .arrow-button,
.choice-box > .open-button {
    -fx-padding: 1.2em 0.7em 1.2em 0.5em;
    -fx-background-radius: 0.0 2.0 2.0 0.0;
    -fx-background-insets: 0;
    -fx-border-style: none;
}

.text-area, .text-field {
    -fx-background-color: white;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0.7em 0 0.7em 0;
    -fx-border-width: 0.0;
    -fx-prompt-text-fill: derive(-fx-hots-background, 50.0%);
    -fx-highlight-fill: rgb(94.0, 203.0, 234.0);
}

.text-area:focused, .text-field:focused, .combo-box-base:focused > .arrow-button {
    -fx-background-color: -fx-hots-secondary, derive(rgb(94.0, 203.0, 234.0), 80.0%);
}

.list-cell {
    -fx-background-color: derive(-fx-hots-background, 25.0%);
    -fx-text-fill: derive(-fx-hots-primary, -25%);
}

.list-view {
    -fx-background-color: derive(-fx-hots-background, 25.0%);
}

.list-view:focused {
    -fx-border-style: hidden;
}

.scroll-bar:vertical > .track-background,
.scroll-bar:horizontal > .track-background{
    -fx-background-color: derive(-fx-hots-primary, 50.0%);
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb,
.scroll-bar:horizontal > .thumb {
    -fx-background-color: -fx-hots-secondary;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button,
.scroll-bar:hover > .increment-button,
.scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.list-view {
    -fx-border-style: none;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: white;
}

.scroll-bar > .track-background{
    -fx-background-color:transparent;
}

.text-area .text, .text-field > * > .text {
    -fx-effect: null;
    -fx-fill: -fx-hots-background;
}

.primary {
    -fx-text-fill: -fx-hots-primary;
}

.secondary {
    -fx-text-fill: -fx-hots-secondary;
}

.combo-box-base > .arrow-button,
.choice-box > .open-button {
    -fx-padding: 1.2em 0.7em 1.2em 0.5em;
    -fx-background-radius: 0.0 2.0 2.0 0.0;
    -fx-background-color: -fx-hots-primary;
}

.combo-box-base > .arrow-button > .arrow,
.choice-box > .open-button > .arrow {
    -fx-background-color: -fx-hots-background;
    -fx-padding: 0.2em 0.3em 0.2em 0.3em;
    -fx-effect:dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.2), 0.0, 0.0, 0.0, 1.0);
}

.status {
    -fx-border-style: dashed;
    -fx-border-color: derive(-fx-hots-background, -25.0%);
    -fx-background-color: derive(-fx-hots-background, 25.0%);
}

.counter {
    -fx-padding: 5px 0 5px 15px;
}
